@font-face 
    font-family: 'gottam-book';
    src: url('../fonts/gottam_book.woff') format('woff');
    font-weight: bold;
    font-style: normal;
@import "nib"
@import "nib/vendor"
//Helpers
.btn-large
    width: 250px
.block-Button
    font-weight: bold;
    padding: .5em 1.5em;
    background: #002856;
    border-radius: 1em;
    border: 0
    color: white

body
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
    color: #4c4b36
.wrap-principal
    max-width: 1200px;
    margin: 0 auto;
.header
    color: #4c4b36;
    background: #dacda7;
    position: relative
    z-index: 12
    &-Container
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1em 0;
        max-width: 1000px !important;
        .menu
            display: flex;
            width: 100%;
            position: relative;
            justify-content: center;
            .img
                position: absolute;
                left: 0;
            ul
                display: flex;
                justify-content: center;
                width: 100%;
                list-style: none;
                margin: 0;
                li
                    padding: .5em 0;
                    font-weight: bold;
                    max-width: 160px;
                    width: 100%;
                    text-align: center
        &-Block
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            .block-Button
                font-weight: bold;
                padding: .5em 1.5em;
                background: #002856;
                border-radius: 1em;
            &:first-child
                color: white;
            &:nth-child(2)
                width: 50%;
            .logo
                display: flex;
                align-items: center;
                justify-content: space-around;
                .balls
                    margin: 0 .7em;
                .title
                    font-size: 1.5em;
                    font-family: BritishCouncil-bold;
            .lang
                font-weight: bold;
                a
                    &:first-child
                        border-right: 1px solid;
                        padding-right: .3em;
.wrapper
    overflow: hidden;
.normalc
    max-width: 1000px
    margin: 0 auto;
.twocol
    display: flex
    padding: 3em 1em;
    justify-content: space-between;
    .col
        h4
        h2
            margin: 0
        h4
            font-weight: lighter
        &:first-child
            width: 30%;
        &:last-child
            width: 60%;
            padding-right: 10em;
            text-align: left;
            .parr
                font-size: 12px;
                float: right;
                margin: 1em 0;
.newsect
    text-align: center;
    color: white;
    font-size: 3em;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    i
        color: #b83c1a;
.mainBack
    background: #4c4b36;
    &-ImgContainer
        position: relative
        .containerx
            position: relative;
            display: flex;
            height: 710px;
            overflow: hidden;
            padding: 0 1em;
            .imgback
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
            .content
                width: 100%;
                position: relative;
                max-width: 1000px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                h1
                    margin: 0;
                    font-size: 3em;
                    font-weight: 100;
                p
                    font-family: 'gottam-book';

.regularM
    font-family: 'Montserrat', sans-serif !important
    font-weight: normal !important
.mainMenu
    background: #e51a35;
    position: relative;
    z-index: 2;
    &-Container
        &-Wrap
            display: flex;
            justify-content: space-around;
            padding: 2.5em 0 1em;
            align-items: flex-start;
            &-Item
                text-align: center;
                display: flex;
                align-items: center;
                .itemCont
                    max-width: 150px;
                    display: flex
                    align-items: center
                    flex-direction: column
                    &-Img
                        height: 125px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background: white;
                        width: 125px;
                    p
                        font-family: "BritishCouncil-black";
                        color: white;
.mainConten
    .normalCont
        display: flex
        flex-direction: column
        .text
            display: flex
            align-items: center;
            position: relative
            .textCont
                font-size: 22px
                width: 50%
                text-align: left
                padding 0 1em
                h3
                    text-align: center
                    color: #00a8e1;
            .parallaxImage
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2em;
                .images
                    position: absolute
                    top 0
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%
                    transition: all .1s ease-in-out
            .p1
                img
                    &:first-child
                        align-self: flex-end;
            .p2
                img
                    &:last-child
                        align-self: flex-end;
.containercontact
    background: #4c4b36
    color: #dacda7
    padding: 0 1em;
    .contact
        display: flex
        .col
            width: 50%
            position: relative
            &:first-child
                width: 40%
                padding: 4em 0;
            &:last-child
                width: 70%
            h3
                margin: 0
            .address
                font-weight: lighter;
                font-family: 'gottam-book';
            .form
                display: flex;
                flex-direction: column;
                padding-right: 4em;
                padding-top: 3em;
                input[type=text]
                input[type=email]
                textarea
                    border: 0;
                    background: #3b3a2a;
                    color: #dacda7;
                    outline: 0;
                    padding: .5em 1em;
                    font-weight: lighter;
                    margin-bottom: .5em;
                    font-family: 'gottam-book';
                    resize: none
                ::-webkit-input-placeholder
                    color: #dacda7
                :-moz-placeholder
                    color: #dacda7
                ::-moz-placeholder 
                    color: #dacda7
                :-ms-input-placeholder
                    color: #dacda7
                input[type=submit]
                    background: #dacda7;
                    padding: .5em 1em;
                    color: #3b3a2a;
                    border: 1px solid;
                    max-width: 100px;
                    margin: 0 auto;
                    margin-top: .5em;
                    transition: all .3s ease-in-out
                    &:hover
                        background: #3b3a2a
                        color: #dacda7


            #map
                width: 100%
                height: 100%
                position: absolute
.containerbrand
    background: #e0cea6
    padding: 3em 1em;
    position: relative
    .brands 
        h2
            margin: 0;
            padding-bottom: .5em;
        .colx
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            .brand
                width: 16%;
                min-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1em
.containerprod
    background: #eff1e8
    padding: 5em 1em;
    position: relative
.products
    display: flex;
    flex-wrap: wrap
    justify-content: center
    align-items: center
    .colx
        min-width: 200px
        &:first-child
            width: 30%
            .product
                min-width: 300px;
                display: flex;
                align-items: center;
                width: 100%;
                overflow: hidden;
                justify-content: center;
                padding: 1em;
                transition: all .3s ease-in-out
                &:hover
                    background: #4c4b36;
                    cursor: pointer
                    p
                        color #dacda7
                img
                    width: 100%
                p
                    transition: all .3s ease-in-out
                .name
                    position: absolute;
                    right: 0;
                    bottom: 3em;
        &:last-child
            width: 70%
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .product
                min-width: 300px;
                display: flex;
                align-items: center;
                width: 50%;
                padding-left: 2em;
                overflow: hidden;
                justify-content: space-around;
                transition: all .3s ease-in-out
                min-height: 235px;                
                &:hover
                    background: #4c4b36;
                    cursor: pointer
                    p
                        color #dacda7
                p
                    transition: all .3s ease-in-out  
                .name
                    margin:0;
                
        .product
            position: relative
            .more
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 12px;
                opacity: 0
                transition: all .3s ease-in-out
                padding: .5em;
                font-weight: lighter;
            &:hover
                .more
                    opacity: 1;
                    color: #dacda7 !important
            

.menux
    width: 100%;
    z-index: 3;
    .close
        top: .5em;
.footer
    margin-top: 7em
    background: #00a8e1
    position: relative
    .pencil
        position: absolute
        left: 0
        bottom: 5em;
        
    &-Container
        padding 0 1em
        .footer-header
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            .plants
                position: absolute
                top -6.4em
            .title
                width: 70%
                h3
                    margin: 0
                    color white
                    padding: 2em 0
        form
            .footer-footer
                padding-top: 2em;
                position: relative
            .footer-form
                display: flex
                justify-content: space-between;
                align-items: flex-start
                flex-wrap: wrap
                .col
                    width: 25%
                    display: flex
                    flex-direction: column
                    min-width: 250px
                    &:nth-child(2)
                        padding: 0 2em;
                        border-right: 1px solid white;
                        border-left: 1px solid white;
                    &:last-child
                        align-items: flex-end;
                        label
                            text-align: left;
                            width: 100%;
                            color: white;
                    input[type=text]
                    input[type=email]
                    input[type=password]
                    textarea
                    select
                        border: 0
                        font-size: 16px
                        padding: .5em .8em
                        margin: .5em 0
                        width: 100%
                    label
                        color: white;
            .footer-fix
                display: flex;
                justify-content space-between !important
                padding: 1em 0;
                flex-wrap: wrap
                p
                    max-width: 500px
                    margin-right: 3em
                    font-size: 14px;
                    color: white
                    margin: 0
                .refix
                    display: flex
            .required
                display: flex;
                justify-content: flex-start;
                padding: 1em 0;
                p
                    font-size: 14px;
                    color: white
                    margin: 0
.check
    width: 21px
    height: 21px
    position: relative
    margin-right: 1em;
    p
        margin: 0
        color: white
    input[type=checkbox]:not(:checked)
    input[type=checkbox]:checked
        left: 0;
        z-index: 1;
        width: 21px;
        height: 21px;
        opacity: 0;
        position: absolute
    input[type="checkbox"]:not(:checked) + label
    input[type="checkbox"]:checked + label
        position: absolute;
        cursor: pointer;
        width: 21px;
        height: 21px;
        left: 0;
    input[type="checkbox"] + label:after 
        content: '';
        background-image: url(../img/required-inactive.svg);
        position: absolute;
        left: 0;
        top: 0;
        width: 21px;
        height: 21px;
    input[type="checkbox"] + label:before 
        content: '';
        position: absolute;
        background-image: url(../img/icon-required.svg);
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
    input[type="checkbox"]:not(:checked) + label:before
        opacity: 0;
    input[type="checkbox"]:checked + label:before
        opacity: 1;
    input[type="checkbox"]:not(:checked) + label:after
        opacity: 1;
    input[type="checkbox"]:checked + label:after
        opacity: 1;
    input[type="checkbox"]:disabled:checked + label:after 
        color: #999;
    input[type="checkbox"]:disabled + label
        color: #aaa;
.post-footer
    background: #002856
    .wrap-principal
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5em 0;
        position: relative;
        .social
            width: 50%;
            display: flex;
            justify-content: space-between;
            color: white;
            flex-wrap: wrap;
            a
                display: flex;
                align-items: center;
                width: 50%;
                min-width: 300px
                justify-content: space-around;
.buttonmenu
    display: none !important
    position: absolute;
    right: 1em;
    font-size: 1.2em !important
    cursor: pointer

@media all and (max-width 1218px)
    .social
        margin:0
        -webkit-justify-content center !important;
        -moz-justify-content center !important;
        -ms-justify-content center !important;
        -o-justify-content center !important;
        justify-content center !important;
    .footer-fix
        -webkit-justify-content center !important;
        -moz-justify-content center !important;
        -ms-justify-content center !important;
        -o-justify-content center !important;
        justify-content center !important;
@media all and (max-width 850px)
    .mainConten
        .normalCont
            .text
                flex-direction column
                .textCont
                    width 100% !important
                    h3
                        font-size 1.5em !important
                .parallaxImage
                    padding 0 !important
                    .images
                        opacity 0.3
                        z-index -1
@media all and (max-width 810px)
    .footer-form
        flex-direction column !important;
        align-items center !important;
        .col
            width: 100% !important;
            padding 0 2em !important
    .footer-header
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 3em;
        .title
            text-align center
            h3
                font-size 1.5em
@media all and (max-width 780px)
    .header
        .menu
            min-height: 18px;  
            .img
                img
                    width: 100px
            .menux
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                display: none
                ul
                    background: #dacda7;
                    z-index: 26;
                    padding: 0;
                    flex-direction: column;
                    align-items: center;
                    
            .buttonmenu
                display: block !important
    .twocol
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .col
            width: 100% !important;
            padding: 0 !important;
    .products
        .colx
            width: 100% !important
            &:first-child
                img
                    max-height: 300px;
                    width: auto !important;
                    height: 100%;
            &:last-child
                .product
                    width: 100% !important;
                    padding: 2em 1em;
                    
    .contact
        flex-direction: column;
        .col
            &:first-child
                width: 100% !important
                text-align: center
                .form
                    padding-right: 0 !important
            &:last-child
                width: 100% !important
                min-height: 400px;
    .containerx
        height: 628px !important
        h1
            font-size: 1.8em !important
        .imgback
            width: 100% !important
